body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

footer {
  padding: 1em;
  text-align: center;
  border-bottom: 2px dashed #777;
}

main {
  max-width: 700px;
  margin: 0 auto; /* Centers the content */
  padding: 1em;
}

h1 {
  color: #ca57ff;
  font-weight: 700;
  background: #2d2d2d;
  text-align: center;
  border-radius: 3px;
}

h2 {
  color: #57a5ff;
  font-weight: 600;
}

h3 {
  color: #57ffca;
  font-style: italic;
}

h4 {
  color: #add8e6;
  text-decoration: underline;
}

h5 {
  color: #ffd1dc;
  text-transform: uppercase;
}

h6 {
  color: #d1ffd6;
  font-size: 0.9em;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 0.5em 0;
}

a {
  color: #91ffff;
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
}
